.review-heading h2 {
    font-weight: 700;
    font-size: clamp(18px, 1.66vw, 32px);
    line-height: 128%;
    letter-spacing: 0.085em;
    color: #D97122;
}

.review-heading {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8.5px;
    column-gap: clamp(12px, 0.98vw, 19px);
}

.review-heading span>img {
    width: clamp(13px, 1.4vw, 27px);
    height: clamp(14px, 1.5vw, 29px);
}
















.swiper {
    /* height: 300px !important; */
    width: 80%;
    height: 370px;
    border: 2px solid red;
    background-color: #ffffff;

}

.swiper-slide {
    box-sizing: border-box;
    width: 100%;
    padding: 0 clamp(5px, 1.5vw, 150px);
    text-align: center;
}


.swiper-button-next,
.swiper-button-prev {


    width: 44px !important;
    height: 90px;
    color: #000;
    background: #D97122 !important;
    transform: rotate(180deg);
    background: #ffffff;
    border-radius: 0px !important;
    top: 42% !important;


}

.swiper-button-next:after {
    content: '|' !important;
    font-size: clamp(14px, 1.14vw, 22px) !important;
}

.swiper-button-prev:after {
    content: '|' !important;
    font-size: clamp(14px, 1.14vw, 22px) !important;
}


/* 
@media screen and (max-width: 1598px) and (max-width: 2020px) {
    .swiper {
        height: 425px !important;
    }
} */



@media screen and (min-width: 1598px) and (max-width: 2020px) {
    .swiper {
        height: 425px !important;
    }
}

.swiper-scrollbar.swiper-scrollbar-horizontal,
.swiper-scrollbar-drag {
    display: none !important;
}



/* --- */
.swiper-pagination-bullet {
    width: clamp(15px, 2.77vw, 40px);
    height: clamp(15px, 2.77vw, 40px);

    border: 4px solid #D97122;
    /* height: 40px; */
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    height: 84px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1rem;
    bottom: 3rem;
}

.swiper-pagination-bullet-active {

    background: #007aff;
    transform: scale(2.2);
    transform-origin: center;
    transition: 500ms ease-in;
}


.swiper-slide>h2 {
    font-weight: 400;
    font-size: clamp(12px, 1.38vw, 20px);
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #5B2800;
}

.swiper-slide>h3 {

    font-size: clamp(12px, 1.4vw, 22px);
    font-weight: 600;

    line-height: 128%;
    text-align: center;

    position: absolute;
    bottom: 0.5rem;
    left: 45%;
    letter-spacing: 0.085em;

    color: #AC5A1D;
}