.footer_container {}


li {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: clamp(8px, 1.14vw, 22px);
}

ion-icon {
    width: clamp(22px, 1.9vw, 37.86px);
    height: clamp(22px, 1.9vw, 37.86px);
}