.hero_container {
    width: 100%;
    height: clamp(299px, 40vh, 580px) !important;
    display: flex;
        align-items: center;
        justify-content: center;
    text-align: center;


}

.hero_data {

    position: absolute;
    margin-top: -0.5rem;
    left: 50%;
    top: 50%;
/*     width: "100%" */
    transform: translate(-50%, -50%)
}

.hero-slider {}

.hero_data>h2 {
    color: #FDFDFD !important;
    /* margin-top: clamp(24px, 5.55vh 80px); */
    font-weight: bolder !important;
    font-size: clamp(26px, 3.04vw, 58.4047px);
    line-height: 128%;

    letter-spacing: 0.085em;


}

.hero_data>p {
    font-weight: 400;
    font-size: clamp(12px, 1.11vw, 16px);
    line-height: 149.69%;
    color: #FFFFFF;
        margin-top: 0.5rem;

    letter-spacing: 0.07em;


}

.hero_data>button {
    width: clamp(119px, 15.12vw, 217.83px);
    height: clamp(29px, 4vh, 58.82px);
    color: #FFFFFF;
        margin-top: 1.5rem;

    background: #D97122;
    border-radius: clamp(29px, 2.98vw, 43.0686px);
}

.index-module_Slide__vy4u2,
.index-module_Container__zFpuF,
.HeroSlider-module_Wrapper__TaeBr {
    height: clamp(299px, 40vh, 580px) !important;
}

.index-module_Button__hkx4Z svg {
    display: none;
}

.index-module_Container__zFpuF {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero_stats {
    /* margin-top: 1rem; */
    position: absolute;
    bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%)
    }
.hero_stats>div {
    display: flex;
    flex-direction: row;
    padding: 0 6px;
    /* width: 50%; */
}

.hero_stats img {
    width: clamp(18px, 2.77vw, 40px);
    height: clamp(20px, 2.77vh, 44px);
}

.hero_stats h3 {
    font-weight: 500;
    font-size: clamp(8px, 1.04vw, 15px);
    line-height: clamp(11px, 1.33vh, 19px);
    /* width: 68%; */
    color: #F4F4F4;


}
@media screen and (max-width:578px) {
    .hero-slider {
        width: 98% !important;
        margin: auto;
    }
}
