.hero_container {
    width: 100%;
    height: clamp(299px, 40vh 580px);
    
        text-align: center;
    
}

.hero_container h2 {
    font-weight: bolder !important;
    font-size: clamp(26px, 3.04vw, 58.4047px);
    line-height: 128%;

    text-align: center;
    letter-spacing: 0.085em;

}

.hero_container p {
    font-weight: 400;
    font-size: clamp(12px, 1.11vw, 16px);
    line-height: 149.69%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF;

}

.hero_container button {
    width: clamp(119px, 15.12vw, 217.83px);
    height: clamp(29px, 4vh, 58.82px);

    background: #D97122;
        border-radius: clamp(29px, 2.98vw, 43.0686px);
    
}
/* swiper */
.swiper {
    height: 100% !important;
    z-index: -1;
}

.swiper-slide {
    box-sizing: border-box;
    width: 100% !important;
    height: 100% !important;
}

