section {
    width: 95%;
    padding: 0 40px;
}

section+section {
    margin-top: 40px;
    margin-bottom: 40px;

}

@media screen and (max-width: 768px) {
    section {
        width: 100%;
        padding: 0 10px;
    }

    section+section {
        margin-top: 20px;
        margin-bottom: 20px;

    }


}