/* fonts */


@font-face {
  font-family: "Sansation_Light";
  /*Can be any text*/
  src: local("Sansation_Light"),
    url(".\fonts\Sansation_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Sansation_Bold";
  /*Can be any text*/
  src: local("Sansation_Bold"),
    url("./fonts/Sansation_Bold.ttf") format("truetype");
}


@font-face {
  font-family: "Sansation_Bold_Italic";
  /*Can be any text*/
  src: local("Sansation_Bold"),
    url("./fonts/Sansation_Bold_Italic.ttf") format("truetype");
}


/* @font-face {
  font-family: "Medium";
  
  src: local("AirbnbCerealMedium"),
    url("./font/AirbnbCerealMedium.woff") format("woff");
} */
#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
    scroll-behavior: smooth;
  
  }
  
  
  body {
    font-family: 'Poppins' !important;
    font-style: normal;
  }
  
  /* Set font for headings */
  h1,
  h2 {
    font-family: 'Sansation_Bold' !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}