.testimonial_wrapper {
    width: 100%;
    height: 60vh;
    border: 2px solid black !important;

}

.UserTestimonial_container {
    padding-top: 2rem;

}

.UserTestimonial_heading h2 {
    font-weight: 700;
    font-size: clamp(18px, 1.66vw, 32px);
    line-height: 128%;
    letter-spacing: 0.085em;
    color: #D97122;


}

.UserTestimonial_heading {
    max-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8.5px;
    column-gap: clamp(12px, 0.98vw, 19px);
}

.UserTestimonial_heading span>img {
    width: clamp(13px, 1.4vw, 27px);
    height: clamp(14px, 1.5vw, 29px);
}



.testimonial_swiper .swiper {
    /* height: 300px !important; */
    width: 100% !important;
    height: 370px !important;
}

.testimonial_slider {
    box-sizing: border-box;
    width: clamp(160px, 16.56vw 318px) !important;
}


.testimonial_swiper>.swiper-button-next,
.swiper-button-prev {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    color: #ff5f0e;
    transform: rotate(180deg);
    background: #ffffff;
    border: 2px solid #e6e6e6;
    border-radius: 100%;
}

#testimonial_swiper>.swiper-button-next:after {
    content: 'prev' !important;
    font-size: clamp(14px, 1.14vw, 22px) !important;
}

#testimonial_swiper>.swiper-button-prev:after {
    content: 'next' !important;
    font-size: clamp(14px, 1.14vw, 22px) !important;
}


@media screen and (max-width: 550px) {

    #testimonial_swiper>.swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 19rem !important;
        width: 28px;
        height: 28px;
    }

}

/* @media screen and (min-width: 468px) and (max-width: 1598px) {
    .swiper {
            height: 225px !important;
        }
    }
    
    */

@media screen and (min-width: 1598px) and (max-width: 2020px) {
    .testimonial_swiper {
        height: 425px !important;
    }
}


.swiper-scrollbar.swiper-scrollbar-horizontal,
.swiper-scrollbar-drag {
    display: none !important;
}

#testimonial_heroslider>.index-module_Slide__vy4u2,
.index-module_Container__zFpuF,
.HeroSlider-module_Wrapper__TaeBr {
    height: clamp(100px, 20vh, 300px);
}